.genreTitle {
	text-align : center;
	font-size: 8pt;
	color: #2161AA;
	font-weight: bold;
}

.unbold {
	font-weight: normal
}

.gameTextLink {
	line-height:14px;
	font-weight: bold;
	color:#333333;
}
.gameTextLink:hover {color: #0858DC;}

.bodyText {
	color:#666666;
	font-size: 8pt;
	
}

.moreButt {
	color:#0E335E;
	text-align: center;
	font-size: 8pt;
	text-decoration: none;
	cursor: hand
}
