.marginfix {margin:0px -3px 0px 0px;}
.bnav {color: 000000; font: bold 10px/11px verdana, arial, helvetica, san-serif;}
.blunav {color: 003399; font: bold 10px/11px verdana, arial, helvetica, san-serif;}
.bnavbl {color: 3333ff; font: bold 10px/11px verdana, arial, helvetica, san-serif;}
.wnav {color: ffffff; font: bold 10px/11px verdana, arial, helvetica, san-serif;}
.onav {color: ffcc33; font: bold 10px/11px verdana, arial, helvetica, san-serif;}
.b {font: bold 12px/14px arial, helvetica, san-serif;}
.bb {color: 000000; font: bold 12px/14px arial, helvetica, san-serif;}
.bb2 {color: 000000; font: bold 8pt arial, helvetica, san-serif; text-decoration: none;}
.rb {font: bold 11px/13px arial, helvetica, san-serif; color: ff0000;}
.ob {font: bold 11px/13px arial, helvetica, san-serif; color: ff9900;}
.ob1 {font: bold 12px/14px arial, helvetica, san-serif; color: ff9900;}
.ob2 {font: bold 16px/18px arial, helvetica, san-serif; color: ff9900;}
.obw {font: bold 11px/13px verdana, arial, helvetica, sans-serif; color: ffffff; text-decoration: none;}
.lob {font: bold 11px/13px arial, helvetica, san-serif; color: ffcc33;}
.blueb {font: bold 11px/13px arial, helvetica, san-serif; color: 0066ff;}
.ltblueb {color: 99ffff; font: bold 11px/13px arial, helvetica, san-serif;}
.gb {font: bold 14px/16px arial, helvetica, san-serif; color: 99FF00;}
.grb {font: bold 14px/16px arial, helvetica, san-serif; color: cccccc;}
.wb {color: ffffff; font: bold 11px/13px verdana, arial, helvetica, san-serif;}
.g {font: 12px/14px arial, helvetica, san-serif; color: 99FF00;}
.w {font: 12px/14px arial, helvetica, sans-serif; color: white;}
.v10bw {color: ffffff; font: bold 10px/12px verdana, arial, helvetica;}
.wb2 {font: bold 12px/14px arial, helvetica, sans-serif; color:white;}
.lw {font: bold 16px/18px arial, helvetica, sans-serif; color:white;}
.lw2 {font: 16px/18px arial, helvetica, sans-serif; color:white;}
.sw {font: 10px verdana, arial, helvetica, sans-serif; color:white;}
.swb {font: bold 10px verdana, arial, helvetica, sans-serif; color:white;}
.blu {color: 003366; font: 12px/14px arial, helvetica, san-serif;}
.blue2 {color: 0066ff; font: bold 12px/14px arial, helvetica, san-serif;}
.blue2d {color: 003366; font: bold 12px/14px arial, helvetica, san-serif;}
.sblue {font: 10px verdana, arial, helvetica, sans-serif; color:0066ff;}
.black {color: 000000; font: 12px/14px arial, helvetica, san-serif;}
.blackp {color: 000000; font: 12px/24px arial, helvetica, san-serif;}
.blue {color: 0000ff; font: 11px/13px arial, helvetica, san-serif;}
.blue3 {color: 0000ff; font: 9px/11px arial, helvetica, san-serif;}
.hdblue {color: 0000ff; font: 17px/19px arial, helvetica, san-serif;}
.hdblue19b {color: 003399; font: bold 19px/20px arial, helvetica, san-serif;}
.s {font: 10px/11px verdana, arial, helvetica, sans-serif;}
.sa {font: 11px/12px verdana, arial, helvetica, sans-serif;}
.sab {font: bold 10px/12px arial, helvetica, sans-serif;}
.bs {font: bold 10px/11px verdana, arial, helvetica, sans-serif;}
.sr {color: cc3300; font: bold 10px verdana,arial,helvetica,sans-serif; line-height: 14px}
.sb {color: 000000; font: bold 10px verdana,arial,helvetica,sans-serif; line-height: 14px}
.ss {font: 9px/9px arial, helvetica, sans-serif;}
.t2 {font: 2px/2px arial, helvetica, sans-serif;}
.t5 {font: 5px/5px arial, helvetica, sans-serif;}
.t8 {font: 8px/8px arial, helvetica, sans-serif;}
.t22 {font: bold 22px/22px arial, helvetica, sans-serif;}
.t22h {font: 22px/22px helvetica, arial, sans-serif;}
.t25 {font: bold 25px/25px arial, helvetica, sans-serif;}
.tw25 {font-family:arial,helvetica,sans-serif; font-size:25px; color:white}
.hd {font: bold 15px/17px arial, helvetica, san-serif; color: 0066ff;}
.hd2 {font: bold 14px/16px arial, helvetica, san-serif;}
.hd2n {color: 000066; font: bold 14px/16px arial, helvetica, san-serif;}
.hd3 {font: bold 17px/19px arial, helvetica, san-serif;}
.hd32 {font: bold 17px/25px arial, helvetica, san-serif;}
.hd32D {font: bold 13px/21px arial, helvetica, san-serif;}
.hd32L {font: bold 18px/28px arial, helvetica, san-serif;}
.hdr {color: cc3300; font: bold 16px/18px arial, helvetica, san-serif;}
.hdr2 {color: ff0000; font: bold 16px/18px arial, helvetica, san-serif;}
.hdr3 {color: ff0000; font: bold 22px/22px arial, helvetica, san-serif;}
.hdr4 {color: ff0000; font: bold 25px/25px arial, helvetica, san-serif;}
.lbuf5 { margin-left:5px; }
.v1 {font: 12px/13px verdana, arial, helvetica, sans-serif;}
.v2 {font: 11px/12px verdana, arial, helvetica, sans-serif;}
.v2b {font: bold 11px/13px verdana, arial, helvetica, sans-serif;}
.vblue {color: #0B3C5D; font: bold 11px/12px verdana, arial, helvetica, sans-serif; text-decoration: none; }
.v2blue {color: #0B3C5D; font: 9px verdana, arial, helvetica, sans-serif; text-decoration: none; }
.v3blue {color: #565669; font: 9px verdana, arial, helvetica, sans-serif; }
.v2b {font: bold 11px/13px verdana, arial, helvetica, sans-serif;}
.vblueb {color: #0066ff; font: bold 11px verdana, arial, helvetica, sans-serif;}
.vblueb2 {color: #003399; font: bold 11px verdana, arial, helvetica, sans-serif;}
.vblueb14 {color: #003399; font: bold 14px verdana, arial, helvetica, sans-serif;}
.vred {color: #ff0000; font: bold 11px/13px verdana, arial, helvetica, san-serif;}
.b2nav {color: 000000; font: bold 10px/11px verdana, arial, helvetica, san-serif; text-decoration: none;}
.a10 { font: 9px/11px verdana, arial, helvetica, sans-serif; }
.a10navl { font: 9px/14px verdana, arial, helvetica, sans-serif; }
.a11 { font: 11px/11px arial, helvetica, sans-serif; }
.a12 { font: 12px/12px arial, helvetica, sans-serif; }
.a12b { font: bold 12px/12px arial, helvetica, sans-serif; }
.a16b {font: bold 15px/17px arial, helvetica, san-serif;}
.a20b {font: bold 19px/21px arial, helvetica, san-serif;}
.s2 { font: 9px/14px verdana, arial, helvetica, sans-serif; }
.nds {font: bold 10px/10px verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none; }
.sw2 {font: 10px/14px verdana, arial, helvetica, sans-serif; color: ffffff;}
.hd2v {font: bold 13px/15px arial, helvetica, san-serif;}