/* ------------------------------------------------- */
/*        Unified CSS Document for Game Pages        */
/*  Forked from original work (C) RealNetworks, Inc. */
/*        Modifications by Nicolas Bahamondes        */
/* ------------------------------------------------- */


/* SECTION B */
body {  scrollbar-face-color:  #D4D0C8;
		scrollbar-shadow-color: #D4D0C8;
		scrollbar-highlight-color: #D4D0C8;
		scrollbar-3dlight-color: #FCFCFC;
		scrollbar-darkshadow-color: #404040;
		scrollbar-track-color: #ecebed;
		scrollbar-arrow-color: #000000;
}

.blk2 {
	color: #000000;
	font-weight: normal;
}

.blue {
	color: #3333FF;
}

.body {
	background-color: #C5CBCC;
	padding-left : 8px;
	padding-right : 8px;
	background-image : url(common/gameguide_ql_sectiontile.gif);
}



/* SECTION C */
.content { 
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-decoration: none;
	padding-bottom: 30px
}

.commlinks {
	color: #000000;
	font-weight: bold;
	font-size: 8pt;
}

.commlinks:hover {  color: #0858DC; } 



/* SECTION D */
.date {
	font-size: 8pt;
	font-weight: normal;
	color: #FFFFFF;
	padding-bottom: 3px;
}



/* SECTION F */
.featurelink {
	color: #000033;
	font-size: 8pt;
}

.featurelink:hover {  color: #0858DC; } 

.feature_mainbody {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #1F2124;
	background-color: #B9C0C8;
}

.feature_mainlink {
	background-image : url(common/gameguide_linkareatile.gif);
	padding-right: 10px;
}

.feature_maintitlearea {
	background-image : url(common/gameGuide_featureTitleArea.gif);
	font-weight: bold;
	padding-left: 10px;
}

.firstrun_framemargin {
	font-size: 8pt;
	background-image : url(common/firstrun_framemiddletile.gif);
	padding-top: 2px;
	padding-left: 8px;
	padding-right: 8px;
	font-color: #1F2124;
}

.firstRun_body {
	padding-top: 4px;
	padding-left: 16px;
	font-size: 8pt;
	font-color: #1F2124;
}



/* SECTION G */
.gamecomm_featuretitlearea {
	background-image : url(common/gamecomm_featureheadertile.gif);
	font-weight: bold;
	padding-left: 3px;
}

.gametitle {
	padding-left: 9px;
	padding-top: 5px;
}

.gametitle2 {
	padding-left: 9px;
}

.gametitledesc {
	padding-left: 21px;
	color: 445460;
	font-size: 7pt;
}



/* SECTION H */
.hand {
cursor: hand
}

.header {
    font-size: 7pt;
	letter-spacing : 1;
	font-weight: bold;
	color:#2A2832;
	padding-left : 8px;
	height: 15;
}



/* SECTION L */
.link {
	color: #122442;
	font-size: 8pt;
}

.link:link {  color: #122442;  }

.link:hover {  color: #0858DC; } 

.linkboxesp5 {
	font-size: 8pt;
	background-image: url(common/gameguide_linkareatile.gif);
	height: 23px;
	padding-left: 16;
	}

.listlinkarea {
	padding-left: 3;
	padding-right: 2
}

.listheaderselected {
	text-align: left;
	color: #000000;
	font-size: 8pt;
	background-color: #92A7B0;
	padding-right: 2;
}

.listheader {
			text-align: left;
			color: #E3E4E4;
			font-size: 8pt;
			background-image: url(common/gameguide_listheaderrtile.gif);
			padding-right: 2;
}			

.liststripe    {
			background-color: #84979F;
}

.listweek {	
			text-align: left;
			color: #253342;
			font-size: 7pt;
			padding-top: 5;
			padding-bottom: 5;
}	

.listlink {
			text-align: left;
			color: #1F2124;
			font-size: 8pt;
			text-decoration: none;
}

.listlink:hover {color: #0858DC; text-decoration: none;}

.linkfindgames:visited { text-decoration: none; color: #666666; }

.listnum {
			text-align: left;
			color: #BF3F07;
			font-size: 8pt;
			text-decoration: none;
}

.listnum2 {
			text-align: left;
			color: #2520D1;
			font-size: 8pt;
			text-decoration: none;
}			
			
.listheaderlink {
			color: #ECEDED;
			font-size: 8pt;
			text-decoration: none;
}

.listheaderlink:hover {color: #FFFFFF; text-decoration: none;}



/* SECTION M */
.mb_rr_table {
	font-size: 8pt;
}

.mb_rr_headertext {
	color: #393838;
	padding-left: 9px; 
}

.mbheader {
	font-weight: bold;
	padding-left: 5px; 
	color: #0066CC;
	background-image: url(common/gamecomm_mbheadertile.gif);
	
}

.mbsubheader {
	padding-left: 9px;
	color: #0066CC;
	padding-top: 15px;
}

.mbsectiontext  {
	padding-left: 9px;
	font-weight: bold;
	color: #0066CC;
	padding-top: 15px;
}



/* SECTION P */
.pagetitle {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #013151;
	font-weight: bold;
	padding-left: 5px
}

.pmheader {
	font-weight: bold;
	color:#012149;
	width: 176px;
	padding-top: 2px;
	padding-left: 8px;
	padding-right: 2px;
	background-color: #C6CCD2;
	background-image: url(common/gamecomm_mpm_sectiontile.gif);
}

.pmtable {
	font-size: 8pt
}

.pmsection {
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 2px;
	background-color: #C6CCD2;
	background-image: url(common/gamecomm_mpm_sectiontile.gif);
}

.pmsection2 {
	color:#46515E;
	font-size: 7pt;
	padding-bottom: 1px;
	padding-left: 8px;
	padding-right: 2px;
	background-color: #C6CCD2;
	background-image: url(common/gamecomm_mpm_sectiontile.gif);
}

.pmgap {
	color:#012149;
	padding-top: 3px;
	padding-bottom: 2px;
	font-weight: bold;
	padding-left: 8px;
	padding-right: 2px;
	background-color: #95B3C2;
	background-image: url(common/gamecomm_mpm_sectiontile.gif);
}

.pmlinks {
	color:#1F2833;
	text-decoration: none;
	
}

.pmlinks:hover {text-decoration: none;  color: #0858DC; } 



/* SECTION Q */
.qlinks {
    font-size: 8pt;
	line-height:14px;
	color:#314357;
	text-decoration: none;
}

.qlinks:hover {color: #0858DC; text-decoration: none;}

.qheaderlink {
	color:#000033;
	font-size: 8pt;
	text-decoration: none; 
}

.qheaderlink:hover {	text-decoration: none; color: #0858DC;  }

.qfooter { 
	font-size: 8pt;
	padding-left : 48px;
	padding-right: 24px;
	padding-top: 11px;
	height: 51;
	background-image : url(common/gameguide_ql_findgamebutt.gif);
}

.qfooterlink {
	color:#2A2832;
	font-weight: bold;
	line-height: 12px;
	text-decoration: none; 
}

.qfooterlink:hover {text-decoration: none; color: #0858DC;  }



/* SECTION R */
.red {
	color: #CC0033;
}
	
.red2 {
	color: #CC0000;
	font-weight: normal;
}

.reviewheaderarea {
	background-image : url(common/gameguide_reviewtitlearea.gif);
	font-weight: bold;
	padding-left: 3px;
} 

.reviewlinkarea {
	background-color: #C6D0D0;
	color: #0E51A4;
	padding-left: 3px;
} 

.reviewtext { 
	color: #1F2124;
	font-size: 8pt;
	background-color: #A8ADB3; 
	padding-left: 10;
	padding-top: 5;
	padding-right: 10;
	padding-bottom: 8;
}

.rrheader {
	font-weight: bold;
	padding-left: 5px; 
	color: #32481C;
	background-image: url(common/gamecomm_rrheadertile.gif);
}

.rrsubheader {
	padding-left: 9px;
	color: #53670F;
	padding-top: 15px;
	padding-bottom: 5px;
}

.rrsectiontext {
	padding-left: 9px;
	font-weight: bold;
	color: #53670F;
	padding-top: 15px;
}

.rrgames {
	padding-left: 9px;
}



/* SECTION S */
.sectioncaption 	{
	font-size: 7pt;
	color:#46515E;
	font-weight: normal;
}

.starlight 	{
	font-size: 7pt;
	color:#1F2833;
	font-weight: normal;
}

.starlight_moregames  {
	font-size: 8pt;
	padding-top: 15px;
	padding-left: 6px;
	font-weight: normal;
}

.subfeaturelink {
	color: #000033;
	font-size: 8pt;
}

.subfeaturelink:hover {  color: #0858DC; }

.subfeaturetable {
	font-size: 8pt;
}

.subfeature_titlearea {
	background-image : url(common/gameguide_subfeaturetitlearea.gif);
	font-weight: bold;
	padding-left: 3px;
}

.subfeature_mainbody {
	padding-right: 10px;
	padding-left: 3px;
	padding-top: 3px;
	color: #1F2124;
	background-color: #A8ADB3;
}

.sidepanelheader {
	color: #C64600;
}

.sidepanelbody {
	font-size: 8pt;
	padding-top: 10px;
	padding-right: 8px;
	padding-left: 5px;
	padding-bottom: 10px;
}

.sidepaneltext {
	color: #2C3641;
}

.spylinks {
	color:#1F2833;
	
}

.spylinks:hover {color: #0858DC; } 



/* SECTION T */
.table {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}

.table2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	padding-bottom: 30px;
}

.table3 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	margin-left: 6px;
}

.title {
	font-size: 8pt;
	font-weight: bold;
	color:#122642;
	height: 31px;
	width: 176px;
	padding-left: 35px;
	padding-top: 2px;
	background-image : url(common/gameguide_ql_header.gif);
}

.topheader { 
	background-color: #5EA3D1; 
	height: 23;
	padding-right: 6px;  
}



/* SECTION U */
.update {
	font-size: 8pt;
	color: #013151;
	padding-top: 2px;
	text-decoration: none;
}

.update:hover {color: #FFFFFF; text-decoration: none;}

.updated {
	font-size: 8pt;
	font-weight: bold;
	color: #013151;
	padding-top: 3px;
}

.updatenews {
	padding-bottom: 1px;
	background-image : url(common/updatenews_butttile.gif)
}

.updatenewslink {	
	font-size: 8pt;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	}

.updatenewslink:hover { text-decoration: none; color: #0858DC; }



/* SECTION Y */
.yellow {
	color: #FFFF00;
	font-weight: normal;
}